---
import Layout from "../layouts/Layout.astro";
import MainLayout from "../layouts/mainLayout.astro";
import Section from "../components/section.astro";
import Newsletter from "../components/newsletter.astro";
import Footer from "../components/footer.astro";
---

<MainLayout />
<div class="video-container">
  <video autoplay loop muted playsinline class="full-screen-video">
    <source src="/video.mov" type="video/mp4" />
  </video>
  <section class="section-1 text-center text-white">
    <div class="pr-10">
      <h2 class="text-4xl mb-2 mt-20 font-semibold">
        UNLOCKING LONG TERM GROWTH.
      </h2>
      <p class="w-4/5 m-auto">
        Our ambition is to be the most successful investment firm of all time.
        We strive to identify the highest and best uses of capital to generate
        superior long-term returns for the world’s preeminent public and private
        institutions.
      </p>
    </div>
  </section>
</div>

<section class="flex text-white justify-center bg-black h-72 items-center">
  <div class="flex justify-between items-center max-w-[1000px] w-full">
    <h2 class="text-3xl font-semibold">
      Transforming Capital. <br /> Empowering Growth
    </h2>
    <div class="w-[1.8px] h-32 bg-white mx-8"></div>
    <p class="w-1/3">
      Quantum Capital is a global, diversified alternative investment firm with
      the mission to deliver high-quality returns for our investors.
    </p>
  </div>
</section>

<Section />
<Newsletter />
<Footer />
<style>
  /* Contenedor del video y el texto centrado */
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Video ocupa toda la altura de la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .section-1 {
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima del video */
    max-width: 800px;
    margin: auto;
  }

  /* Estilo para las secciones adicionales */
  section {
    padding: 2rem 0;
  }
</style>
