---
import MainLayout from "../layouts/mainLayout.astro";
import Section from "../components/section.astro";
import Newsletter from "../components/newsletter.astro";
import Footer from "../components/footer.astro";
---

<MainLayout />
<div class="video-container">
  <video
    id="myvid"
    autoplay
    loop
    muted
    playsinline
    webkit-playsinline
    class="full-screen-video mo:hidden"
    preload="metadata"
  >
    <source src="/qVideo.mp4" type="video/mp4" />
  </video>
  <video
    id="myvid2"
    autoplay
    loop
    muted
    playsinline
    webkit-playsinline
    class="full-screen-video hidden mo:block"
    preload="metadata"
  >
    <source src="/Movideo2.mp4" type="video/mp4" />
  </video>
  <section class="section-1 text-center text-white">
    <div class="pr-10 mo:pr-0">
      <h2 class="text-4xl mb-2 mt-20 font-semibold">
        UNLOCKING LONG TERM GROWTH.
      </h2>
      <p class="w-4/5 m-auto text-lg mo:mt-3">
        Our ambition is to be the most successful investment firm of all time.
        We strive to identify the highest and best uses of capital to generate
        superior long-term returns for the world’s preeminent public and private
        institutions.
      </p>
      <button
        class="button bg-[#D9D9D9]/20 w-[45px] h-[80px] rounded-full text-2xl text-[#ffffff]/60 mt-10"
        id="scroll-button"
      >
        &darr;
      </button>
    </div>
  </section>
</div>

<section
  class="flex text-white justify-center bg-black h-72 items-center mo:hidden"
>
  <div
    class="flex justify-between items-center max-w-[1000px] w-full mo:hidden"
    id="target-section"
  >
    <h2 class="text-3xl font-semibold">
      Transforming Capital. <br /> Empowering Growth
    </h2>
    <div class="w-[1.8px] h-32 bg-white mx-8"></div>
    <p class="w-1/3">
      Quantum Capital is a global, diversified alternative investment firm with
      the mission to deliver high-quality returns for our investors.
    </p>
  </div>
</section>
<div id="section-img"></div>

<Section />

<Newsletter />
<Footer />

<script>
  const button = document.getElementById("scroll-button");

  function scrollToSection() {
    const targetSection = document.getElementById("target-section");
    const targetSection2 = document.getElementById("section-img");
    const offset = -80;

    if (targetSection.offsetHeight > 0) {
      const topPosition =
        targetSection.getBoundingClientRect().top + window.scrollY + offset;
      window.scrollTo({ top: topPosition, behavior: "smooth" });
    } else {
      targetSection2.scrollIntoView({ behavior: "smooth" });
    }
  }

  if (button) {
    button.addEventListener("click", scrollToSection);
  }
</script>
<style>
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .section-1 {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: auto;
  }

  section {
    padding: 2rem 0;
  }
</style>
