---
import Footer from "../components/footer.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout />
<section class="bg-black h-64 relative mo:h-40">
  <div>
    <img src="/about.jpg" alt="" class="absolute top-28 w-full mo:h-20" />
  </div>
</section>
<section class="mt-14 xl:mt-36 mo:mt-14">
  <div class="max-w-[1000px] xl:max-w-[1300px] m-auto mo:px-5">
    <div class="h-[2px] w-28 bg-black mb-10 mt-10 mo:mb-5"></div>
    <h2 class="font-semibold text-xl mb-5">Quantum Capital Ltd.</h2>
    <div class="space-y-5 pb-52 mo:pb-10">
      <p class="">
        Quantum Capital Global Investments LP and its affiliates (“QCIG”) manage
        private investment funds using a value-based philosophy with a
        fundamental bottoms-up approach to analyzing each investment. We focus
        primarily on emerging markets, investing on public and private markets
        across corporate credit, structured credit, and equity securities.
      </p>
      <p>
        Quantum Capital Global Investments LP was legally reestablished as a
        limited partnership under the laws of Delaware on April 11, 2021, as a
        registered private fund.
      </p>
      <p class="">
        For its investment management activities, Quantum has engaged Quantum
        Capital Investment Group LLC ("QCIG" or "the Investment Manager"), an
        entity founded on the principles of strategic investment in high-quality
        businesses believed to have limited downside and capable of generating
        predictable, recurring cash flows. Under the strategic direction and
        supervision of Quantum's Board of Directors, QCIG is tasked with the
        prudent investment of the company's assets and liabilities, aligning
        with Quantum's investment policy.
      </p>
      <p>
        The majority of Quantum's investment portfolio is deliberately allocated
        across 10 to 20 core holdings, predominantly in liquid, listed large
        capitalization companies. The Investment Manager employs a focused
        approach towards identifying companies that exhibit strong business
        fundamentals. Additionally, Quantum and its Investment Manager employ
        strategic risk management techniques, including the judicious selection
        of investments and portfolio construction, and potentially utilizing
        hedging strategies to mitigate market-related risks and capitalize on
        asymmetric investment opportunities.
      </p>
    </div>
  </div>
</section>

<section class="hidden mo:block">
  <div class="m-auto mo:px-5">
    <div class="h-[2px] w-28 bg-black mb-10 mt-10"></div>
    <h2 class="font-semibold text-xl mb-5">Investment Manager</h2>
    <div class="space-y-5">
      <p>
        Quantum Capital Ltd, a closed-ended investment fund based in British
        Virgin Island, focuses on acquiring stakes in large-cap companies to
        enhance long-term shareholder value. Since its inception, Quantum has
        aimed at strategic investments in high-quality businesses, managed by
        Quantum Capital Global Investments.
      </p>
      <p>Quantum's registered address is:</p>
      <p>
        XXX N, <br />
        ZONE, CP, <br />
        CITY, COUNTRY
      </p>
    </div>
    <div class="mt-10">
      <div class="space-y-5">
        <strong class="mb-5">QCIG Documents</strong>
        <p class="underline">
          Form ADV, Part 2A and Part 2B, Dated March 2023 (PLACEHOLDER TEXT)
        </p>
        <p class="underline">
          Approval granted by the European Financial Markets Authority on
          October 10, 2014. (PLACEHOLDER TEXT)
        </p>
        <p class="underline">
          SEC Order Granting Registration (PLACEHOLDER TEXT)
        </p>
      </div>
      <div class="space-y-5 mt-10 pb-5">
        <strong>QCIG Reports</strong>
        <p class="underline">2020 Financial Statements</p>
        <p class="underline">2021 Financial Statements</p>
        <p class="underline">2022 Financial Statements</p>
      </div>
    </div>
  </div>
</section>

<Footer />
