---
import Footer from "../components/footer.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout />
<section class="bg-black h-64 relative">
  <div>
    <img src="/about.jpg" alt="" class="absolute top-28 w-full" />
  </div>
</section>
<section class="mt-20">
  <div class="max-w-[1300px] m-auto">
    <div class="h-[2px] w-28 bg-black mb-8 mt-28"></div>
    <h2 class="font-semibold text-xl mb-5">Quantum Capital Ltd.</h2>
    <div class="space-y-5 pb-52">
      <p class="">
        Quantum Capital Ltd, a closed-ended investment fund based in British
        Virgin Island, focuses on acquiring stakes in large-cap companies to
        enhance long-term shareholder value. Since its inception, Quantum has
        aimed at strategic investments in high-quality businesses, managed by
        Quantum Capital Global Investments.
      </p>
      <p>
        Quantum was legally established with limited liability under the laws of
        the British Virgin Islands on February 2, 2021, and began its operations
        on December 31, 2021, as a registered open-ended investment scheme.
      </p>
      <p class="">
        For its investment management activities, Quantum has engaged Quantum
        Capital Management LLC ("QCM" or "the Investment Manager"), an entity
        founded on the principles of strategic investment in high-quality
        businesses believed to have limited downside and capable of generating
        predictable, recurring cash flows. Under the strategic direction and
        supervision of Quantum's Board of Directors, QCM is tasked with the
        prudent investment of the company's assets and liabilities, aligning
        with Quantum's investment policy.
      </p>
      <p>
        The majority of Quantum's investment portfolio is deliberately allocated
        across 10 to 14 core holdings, predominantly in liquid, listed large
        capitalization companies primarily based on Latin and North America. The
        Investment Manager employs a focused approach towards identifying
        companies that exhibit strong business fundamentals. Additionally,
        Quantum Capital Ltd and its Investment Manager employ strategic risk
        management techniques, including the judicious selection of investments
        and portfolio construction, and potentially utilizing hedging strategies
        to mitigate market-related risks and capitalize on asymmetric investment
        opportunities.
      </p>
    </div>
  </div>
</section>

<Footer />
