---
import Footer from "../components/footer.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout />
<section class="bg-black h-28 relative"></section>
<section class="bg-black h-screen">
  <div class="max-w-[1300px] m-auto pt-10">
    <div class="h-[2px] w-28 bg-white mb-4"></div>
    <h2 class="font-semibold text-white text-2xl mb-10">
      News & Press Releases
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-24 text-[#A3A3A3]">
      <!-- Caja 1 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>

      <!-- Caja 2 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>

      <!-- Caja 3 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>

      <!-- Caja 4 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>

      <!-- Caja 5 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>

      <!-- Caja 6 -->
      <div class="flex flex-col">
        <div class="flex space-x-2 items-center">
          <p class="text-sm">2024</p>
          <p class="text-sm">Press Release</p>
        </div>
        <div class="flex items-center space-x-2">
          <p class="text-xl">&rarr;</p>
          <p class="underline">Quantum Capital Announces:</p>
        </div>
        <p class="w-1/2">
          Lorem ipsum dolor sit amet consectetur. Facilisis vel at integer a
          laoreet.
        </p>
      </div>
    </div>
  </div>
</section>
<Footer />
