---

---

<footer
  class="footer mo:p-20 max-w-[1000px] xl:max-w-[1300px] main-layout-overlay"
>
  <!-- Logo -->
  <div class="footer-logo">
    <img src="/logob.png" alt="Logo de la Marca" />
  </div>

  <div>
    <p class="text-black font-semibold mo:text-sm">2024 Quantum Capital.</p>
  </div>
</footer>

<style>
  .footer {
    width: 100%; /* Ensure the footer spans the entire width */
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto; /* Keeps it centered within max-width */
    z-index: 3;
  }

  .footer-logo img {
    height: 50px;
    width: auto;
  }

  .footer-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  @media only screen and (max-width: 850px) {
    .footer {
      padding: 20px;
    }
  }
</style>
