<nav
  class="main-layout-overlay mo:px-5 xl:max-w-[1300px] max-w-[1000px] absolute top-0 left-1/2 transform -translate-x-1/2 w-full bg-transparent flex items-center justify-between z-30 py-6"
>
  <!-- Logo -->
  <div class="navbar-logo mo:h-15">
    <a href="/">
      <img src="/Logo Quantum.png" alt="Logo de la Marca" id="logo" />
    </a>
  </div>
  <div
    class="tham hover:opacity-100 tham-e-squeeze tham-w-6 text-white z-50 hidden mo:block"
  >
    <div class="tham-box">
      <div class="tham-inner bg-white"></div>
    </div>
  </div>
  <ul role="list" class="mo:hidden flex gap-12 m-0 p-0">
    <li class="navbar-item">
      <a class="dropdown-trigger text-white">About Us +</a>
      <!-- Subenlaces -->
      <div class="dropdown-menu">
        <a href="/quantum">Quantum Capital</a>
        <a href="/investment-manager">Investment Manager</a>
      </div>
    </li>
    <li><a href="/performance" class="text-white">Performance</a></li>
  </ul>
</nav>

<div class="menu-overlay hidden mo:block" id="menuOverlay">
  <a href="/" class="menu-link text-2xl">Home</a>
  <a href="/quantum" class="menu-link text-2xl">About Us</a>
  <a href="/performance" class="menu-link text-2xl">Performance</a>
</div>
<script>
  const tham = document.querySelector(".tham");
  const menuOverlay = document.getElementById("menuOverlay");
  const img = document.getElementById("logo");

  tham.addEventListener("click", () => {
    tham.classList.toggle("tham-active");
    menuOverlay.classList.toggle("active");
    tham.classList.toggle("top");
    img.classList.toggle("hiddenImg");
    document.body.classList.toggle("overflow-hidden");
  });
</script>
<style>
  .tham {
    position: relative; /* Asegúrate de que genere un nuevo contexto propio si es necesario */
    z-index: 50; /* Más alto que el overlay */
  }
  .hiddenImg {
    display: none;
  }
  .top {
    margin-top: 18px;
  }
  .navbar-logo img {
    height: 50px;
    width: auto;
  }

  .navbar-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-links a {
    text-decoration: none;
    color: white;
  }

  /* Estilo para el enlace principal */
  .navbar-item {
    position: relative;
  }

  .dropdown-trigger {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 1.5rem;
    background-color: transparent;
    padding-top: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;
  }

  .dropdown-menu a {
    color: white;
    text-decoration: none;
  }

  /* Mostrar subenlaces al hacer hover */
  .navbar-item:hover .dropdown-menu {
    display: flex;
    opacity: 1; /* Aparece gradualmente */
    transform: translateY(0); /* Baja suavemente */
    pointer-events: auto; /* Permite interacciones */
  }

  /* Efecto de hover en subenlaces */
  .dropdown-menu a:hover {
    text-decoration: none;
  }
  .hamburger {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: white;
    transition:
      transform 0.3s,
      background-color 0.3s;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    transition:
      transform 0.3s,
      background-color 0.3s;
  }

  .hamburger::before {
    top: -10px;
  }

  .hamburger::after {
    top: 10px;
  }

  .hamburger.active {
    background-color: white;
  }

  .hamburger.active::before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Menu overlay */
  .menu-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.3s;
  }

  .menu-overlay.active {
    display: flex;
  }

  .menu-link {
    color: white;
    margin: 15px 0;
    text-decoration: none;
    transition: color 0.3s;
  }

  .menu-link:hover {
    color: gray;
  }
  @media (max-width: 1024px) {
    .dropdown-menu {
      display: none;
    }
  }
</style>
