---

---

<section class="bg-black">
  <div class="m-auto bg-black max-w-[1300px] text-white mt-96">
    <div class="text-transparent">.</div>
    <h1 class="h-[3px] w-28 bg-white"></h1>
    <h2 class="text-4xl my-4">Company Overview</h2>
    <p>
      Quantum Capital Global Investments LP ("Quantum Capital" or "Quantum") is
      a leading investment firm specializing in acquiring stakes in a select
      group of high-potential, large-capitalization companies across various
      industries. Quantum Capital's mission is to achieve superior long-term
      capital appreciation by leveraging its expertise in identifying
      undervalued companies.
    </p>
    <br />
    <p>
      Quantum Capital began its operations as a private investment firm. The
      Group has appointed Quantum Capital Investment Group LLC ("QCGI”, "the
      Investment Manager") as its primary investment manager. QCIG is tasked
      with the strategic management of Quantum Capital's portfolio, adhering to
      a disciplined investment philosophy that prioritizes sustainable growth
      and long-term value creation. The Investment Manager operates under the
      guidance of the Group's Board of Directors, ensuring alignment with
      Quantum Capital's investment objectives and policies.
    </p>
    <br />
    <p>
      Quantum Capital's investment portfolio is predominantly concentrated on 10
      to 15 core holdings, primarily consisting of liquid, publicly traded
      large-capitalization companies in Latin America and selected global
      markets. The Investment Manager employs a rigorous analysis process to
      identify companies with strong fundamentals, compelling valuation, and
      potential for significant improvement in operational efficiency, corporate
      governance, and shareholder returns. Quantum Capital aims to limit risk
      through meticulous selection and portfolio diversification. Additionally,
      Quantum Capital may implement hedging strategies to protect against market
      volatility and capture unique investment opportunities, further aligning
      with Quantum Capital's strategic goal of maximizing shareholder value.
    </p>
  </div>
</section>

<section class="bg-black pb-56">
  <div class="pt-20 m-auto bg-black max-w-[1300px] text-white">
    <h1 class="h-[3px] w-28 bg-white"></h1>
    <h2 class="text-4xl my-4">Contact Us</h2>
    <p>
      Reach out to Quantum Capital for innovative investment solutions.
      <br />
      Email: <strong>contact@quantumcapitalg.com</strong> or call us at <strong
        >(+54) 9 11 2842-8258.</strong
      >
    </p>
    <br />
    <div class="text-white flex space-x-96">
      <div class="space-y-4">
        <p class="font-semibold">REGISTER FOR ALERTS</p>
        <p class="font-semibold">
          Sign up to be notified of <br />important updates.
        </p>
      </div>
      <div class="space-y-4">
        <p class="font-semibold">EMAIL</p>
        <div class="flex items-center space-x-7">
          <form
            action="https://formspree.io/f/meoqzvde"
            method="POST"
            class="flex space-x-2"
          >
            <input
              type="email"
              name="email"
              placeholder="Your email"
              class="h-10 w-80 bg-black border-white border px-2 text-white"
              required
            />
            <button
              type="submit"
              class="h-10 w-24 bg-gray-800 text-white font-semibold"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
