---

---

<div class="mo:hidden">
  <section
    class="content-image first-image right parallax-window"
    data-parallax="scroll"
  >
    <div class="max-w-[1000px] xl:max-w-[1300px] m-auto">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-text-block">
            <div class="content-text">
              <div class="block fadeInUp animated">
                <h2 class="text-3xl font-semibold mb-3">Financial Wellbeing</h2>
                <h4 class="mb-5">
                  We aim to help hundreds invest for life, facing growing <br />
                  retirement saving challenges. How can we expand<br /> our impact,
                  guiding more to secure their financial futures?
                </h4>
                <div class="h-[2px] w-28 bg-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="content-image sec-image left parallax-window"
    data-parallax="scroll"
  >
    <div class="max-w-[1000px] xl:max-w-[1300px] m-auto">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-text-block">
            <div class="content-text">
              <div class="block fadeInUp animated">
                <h2 class="text-3xl font-semibold mb-3">Investment Access</h2>
                <h4 class="mb-5">
                  We simplify and lower the cost of investing. <br /> How can we
                  leverage our expertise to enable a greater number <br /> of individuals
                  to invest?
                </h4>
                <div class="h-[2px] w-28 bg-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="content-image right third-image parallax-window"
    data-parallax="scroll"
  >
    <div class="max-w-[1000px] xl:max-w-[1300px] m-auto">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-text-block">
            <div class="content-text">
              <div class="block fadeInUp animated">
                <h2 class="text-3xl font-semibold mb-3">Resilient Economies</h2>
                <h4 class="z-10 mb-5">
                  Our goal is to enable an increasing number of individuals<br
                  />
                  to achieve financial well-being, by providing our clients <br
                  />with a range of options to fulfill their investment
                  objectives.
                </h4>
                <div class="h-[2px] w-28 bg-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="hidden mo:block bg-black text-white">
  <div class="px-5 mt-10 m-auto">
    <div class="h-[2px] w-28 bg-white m-auto"></div>
    <h2 class="text-4xl font-semibold text-center pt-6">Company Overview</h2>
    <p class="text-lg w-11/12 m-auto text-center py-6">
      Quantum Capital Global Investments LP is a leading investment firm focused
      on acquiring stakes in a select group of high-potential,
      large-capitalization companies across various industries. Its mission is
      to achieve long-term capital appreciation by identifying undervalued
      companies with strong fundamentals and growth potential. Quantum Capital's
      portfolio consists of 10 to 15 core holdings, mainly in liquid, publicly
      traded companies in Latin America and global markets. Managed by Quantum
      Capital Investment Group LLC, the firm employs a disciplined,
      analysis-driven approach to sustainable growth and value creation, using
      hedging strategies to limit risk and maximize shareholder value.
    </p>
    <div class="h-[2px] w-28 bg-white m-auto"></div>
  </div>
  <img src="/mo home 1.jpg" alt="" class="py-7 w-full" />
  <div class="px-5">
    <div class="h-[2px] w-28 bg-white m-auto"></div>
    <h2 class="text-4xl font-semibold text-center pt-6">Financial Wellbeing</h2>
    <p class="text-lg w-11/12 m-auto text-center py-6">
      We aim to help hundreds invest for life, facing growing retirement saving
      challenges. How can we expand our impact, guiding more to secure their
      financial futures?
    </p>
    <div class="h-[2px] w-28 bg-white m-auto"></div>
  </div>
  <img src="/mo home 2.jpg" alt="" class="py-7 w-full" />
  <div class="px-5">
    <div class="h-[2px] w-28 bg-white m-auto"></div>
    <h2 class="text-4xl font-semibold text-center pt-6">Investment Access</h2>
    <p class="text-lg w-11/12 m-auto text-center py-6">
      We simplify and lower the cost of investing. How can we leverage our
      expertise to enable a greater number of individuals to invest?
    </p>
    <div class="h-[2px] w-28 bg-white m-auto"></div>
  </div>
  <img src="/mo home 3.jpg" alt="" class="py-7 w-full" />
  <div class="px-5">
    <div class="h-[2px] w-28 bg-white m-auto"></div>
    <h2 class="text-4xl font-semibold text-center pt-6">Resilient Economies</h2>
    <p class="text-lg w-11/12 m-auto text-center py-6">
      Our goal is to enable an increasing number of individuals to achieve
      financial well-being, by providing our clients with a range of options to
      fulfill their investment objectives.
    </p>
    <div class="h-[2px] w-28 bg-white m-auto"></div>
  </div>
</section>

<style>
  section {
    overflow: hidden;
  }
  .content-image {
    float: left;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .first-image {
    background-image: url("/bg-1.jpg");
  }

  .sec-image {
    background-image: url("/bg-2.jpg");
  }
  .third-image {
    background-image: url("/bg-3.jpg");
  }

  .row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .left .content-text-block {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .right .content-text-block {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .content-text-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .content-text-block .content-text {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
    max-width: 550px;
    color: white;
  }
  .content-image.left:before {
    content: "";
    width: 70%;
    height: 0%;
    border-top: 100vh solid black;
    border-left: 50vh solid transparent;
    position: absolute;
    right: 0;
    top: 0;
  }

  .content-image.right:before {
    content: "";
    width: 70%;
    height: 0%;
    border-top: 100vh solid black;
    border-right: 50vh solid transparent;
    position: absolute;
    top: 0;
  }

  @media only screen and (max-width: 850px) {
    .first-image {
      background-image: none;
    }

    .sec-image {
      background-image: none;
    }
    .third-image {
      background-image: none;
    }
    .content-image.right:before,
    .content-image.left:before {
      border-right: 100vh solid transparent;
    }
  }
  @media only screen and (min-width: 992px) {
    .content-image {
      background-attachment: fixed;
    }
  }
  .content-image.left {
    background-position: left center;
  }
  .content-image.right {
    background-position: right center;
  }

  @media only screen and (max-width: 1440px) {
    .content-image.right:before,
    .content-image.left:before {
      width: 75%;
    }
  }
</style>
